* {box-sizing: border-box}

/* Background image */
body {
    background-image: url("../images/ChristmasWallpaper.jpg");
    color: #cc0000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
#trivia {
    color: #ffffff
    
}

